.team {
  height: calc(100vh - 70px);
  background-image: linear-gradient(0deg, #FFFFFF 50%, #E6E6E6 50%);
  text-align: center;
  padding: 70px;
}

.mate-avatar {
  border-radius: 50%;
  height: 150px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  margin-top: 30px;
}

.mate-list {
  text-align: center;
}

h2 {
  font-size: 17px;
}

a {
  font-size: 15px;
  color: #999999;
  text-decoration: none;
}

a:hover {
  color: #999999;
}
