---
title: Le Wagon - Middleman
---

<div id="home">

  <div class="">
    <%= partial "layouts/banner" %>
  </div>

  <div class="home-content">

    <h3>Recent flats</h3>

    <div class="container">
      <%= partial "layouts/cards" %>
    </div>

  </div>
</div>
