---
title: Le Wagon - Middleman
---

<div id="home">

  <div class="">
    <%= partial "layouts/banner" %>
  </div>

  <div class="home-content">

    <h3>Recent flats</h3>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <%= partial "layouts/cards" %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%= partial "layouts/cards" %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%= partial "layouts/cards" %>
        </div>
      </div>
    </div>

  </div>
</div>
